/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Cabeçalho */
header {
    background-color: #0a5775;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.login-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #45a049;
}

/* Menu */
.menu-toggle {
    display: none;
}

nav {
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: #333;
    width: 200px;
    border-radius: 5px;
    display: none;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Quando o checkbox for marcado, o menu aparecerá */
.menu-toggle:checked + .menu-btn + #menu {
    display: flex;
}

/* Formulário de Login */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer {
    background-color: #0a5775;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.remover-sub-a{
    text-decoration: none; /* Remove o sublinhado */
    color: black;
}

/* Estilo do formulário */
/*-------------------------------------------------------------------------------------------------*/


.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container p {
    margin-top: 10px;
}

.login-container a {
    color: #4CAF50;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}